.grid-heading{
    padding: 20px;
}

.button-section{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    align-items: center;
}

.crud-button{
    border-radius: 20px !important;
    padding: 5px 15px !important;
}

.grid-heading{
    height: 80px;
    background-color: #212529;
    display: flex;
    justify-content: flex-start;
    color: white;
}

.grid-section{
    width: 100%;
}

.dialog-text{
    margin: 10px 15px 0px 0px !important;
}

.dialog-button{
    margin-top: 20px;
}
